@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

$primary: #eb7567;
$secondary: #57899d;
$terciary: #f7f3e4;
$light: #e7e7e7;
$dark: #9b9275;
$white: #fff;
$black: #000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// @media only screen and (min-width:320px) {
// }
// @media only screen and (min-width: 481px) {
// }
// @media only screen and (min-width: 769px) {
// }
// @media only screen and (min-width: 1025px) {
// }
// @media only screen and (min-width: 1201px) {
// }

@media only screen and (min-width: 320px) {
  body {
    font-size: 62.5%;
    background: $light;
    max-width: 100%;
    max-height: 100%;
    header {
      justify-content: space-between;
      padding: 1.5rem 3rem;
      background-color: $dark;
      border-radius: 0 0 0.5rem 0.5rem;
      height: 5rem;
      width: 100%;
      margin: 0;
      display: flex;
      align-items: center;
      .logo {
        img {
          width: 5rem;
        }
      }

      .navMenu {
        z-index: 2;
        position: fixed;
        left: 0;
        top: 0;
        background-color: $dark;
        width: 50%;
        height: 100%;

        display: flex;
        flex-flow: column;
        transition: all ease 0.5s;
        transform: translateX(-100%);
        &.active {
          transform: translateX(0);
        }
        ul {
          margin-top: 5rem;
          list-style: none;
          li {
            border-bottom: 1px $light solid;
            .menu_btn {
              width: 100%;
              background: none;
              color: white;
              outline: none;
              border: none;
              font-size: 1.5rem;
              margin: 2rem 0;
            }
          }
        }
      }

      .menu_line {
        width: 1.5rem;
        height: 0.2rem;
        margin: 0.3rem 0;
        background-color: $white;
        border-radius: 0.3rem;
      }
    }
    main {
      padding: 0 4rem;
      width: 100%;
      margin: 3rem 0;
      .cards_container {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 2rem;
      }
    }
  }

  footer {
    display: none;
  }
}
@media only screen and (min-width: 481px) {
}
@media only screen and (min-width: 769px) {
  body {
    main {
      padding: 0 4rem;
      width: 100%;
      margin: 3rem 0;
      .cards_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
        column-gap: 1.5rem;
      }
    }
  }
}
@media only screen and (min-width: 1025px) {
  body {
    header {
      border-radius: none;
      background: none;
      width: 60vw;
      height: 12vh;
      margin: 0 auto;
      display: flex;
      align-items: center;

      .logo {
        img {
          padding-left: 0;
          width: 7rem;
          height: 7rem;
          border-radius: 0.3rem;
        }
      }
      .navMenu {
        z-index: 2;
        position: static;
        background-color: $dark;
        width: 50%;
        height: 100%;
        display: flex;

        ul {
          margin-top: 0;
          list-style: none;
          li {
            border-bottom: 0;
            .menu_btn {
              font-family: 'Raleway', sans-serif;
              border: none;
              background: none;
              font-weight: bold;
              font-size: 18;
              opacity: 0.9;
              cursor: pointer;
              transition: all ease 0.3s;
              outline: none;
              &:hover {
                opacity: 0.4;
                transform: translate3d(0, 0, 0.3rem);
              }
            }
          }
        }
      }
      .menu_container {
        display: none;
      }
    }
    main {
      width: 60vw;
      margin: 0 auto;
      padding: 0;
      .cards_container {
        padding: 3rem 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
        row-gap: 2rem;
      }
    }
  }

  footer {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    color: white;
    height: 15vh;
    background: $dark;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .icons {
      i {
        margin: 0 2rem;
        transition: all ease 0.3s;
        &:hover {
          color: $light;
          opacity: 0.9;
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (min-width: 1201px) {
}

@import './_card';
@import './_modal';
@import './_components';
