#progress {
  display: flex;
  justify-content: center;
  font-size: medium;
  background: #e3e3e3;
  border-radius: 13px;
  height: 2rem;
  width: 13rem;
  padding: 0.3rem;
  margin: 5rem;
  display: flex;
  justify-content: center;
}
